@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-autosuggest__input {
  background-color: #f5f5f5;
  right: 0;
  width: 280px;
  height: 45px;
  padding: 20px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 0 !important;
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

@media (max-width: 800px) {
  .react-autosuggest__input {
    width: 150px;
  }
}
.fuller-search .react-autosuggest__input {
  background-color: #f5f5f5;
  right: 0;
  width: 100% !important;
  height: 60px;
  padding: 20px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 7px !important;
  /* border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important; */
}

.react-autosuggest__input:active,
.react-autosuggest__input:focus {
  outline: none !important;
  border: none !important;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open {
  position: relative;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0 1rem 2rem 2px rgb(0 0 0 / 15%);
  border-radius: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgb(241, 241, 241);
  font-weight: 500;
}

.search-button {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-search {
  width: unset;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

#hero-section {
  position: relative;
}

#hero-section::before {
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url(/hero.jpg); */
  background-repeat: repeat-x;
  background-position: center;
  opacity: 0.5; /* Adjust this value between 0 and 1 */
  z-index: -1;
}

/* Remove the background from the main element */
#hero-section {
  background: none;
}

.searchbar-animation-open {
  animation: searchbar-open 0.3s ease-out;
  transform-origin: top;
}

.searchbar-animation-close {
  animation: searchbar-close 0.2s ease-in;
  transform-origin: top;
  scale: 1 0;
}

@keyframes searchbar-close {
  0% {
    scale: 1 1;
  }
  100% {
    scale: 1 0;
  }
}
@keyframes searchbar-open {
  0% {
    scale: 1 0;
  }
  100% {
    scale: 1 1;
  }
}

.embla {
  overflow: scroll;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style: normal;
}

.main-navbar {
  transition: transform 0.3s ease-in-out;
}
